<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NVActivityIndicatorView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NVActivityIndicatorViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>239CAB1F1B5EBB2E0051DC06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>239CAB341B5EBB2E0051DC06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90A8792E1BA554A0001C8989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
